{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "trailingComma": "none",
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
